#modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgb(121, 95, 95);
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#modal-img-container {
    width: 120px;
    height: 90px;
}

#modal-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#modal-small-row-container {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    width: 80%;
}

#modal-video-name {
    width: 100%;
    text-align: center;
    font-size: x-large;
}

#modal-content-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    line-height: 5vh;
}

#close-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    width: 35px;
    height: 35px;
}

#your-choice {
    text-align: center;
    font-size: larger;
}

#term-of-use-container {
    display: flex;
}