@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Rubik&display=swap');

#modal-outer-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#modal-container {
    font-family: 'Heebo', sans-serif;
    --main: #2D4356;
    --sub: #9DB2BF;
    --white: rgba(255, 255, 255, 0.8);
    margin-top: 40%;
    background-color: rgb(150, 150, 150);
    color: black;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#modal-img-container {
    width: 120px;
    height: 90px;
}

#modal-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#modal-small-row-container {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    width: 80%;
}

#modal-video-name {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#modal-content-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    line-height: 5vh;
}

#close-modal {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
    width: 32px;
    height: 32px;
    font-size: 10px;
    font-weight: 600;
    background-color: black;
    border: 1px solid black;
    color: var(--sub);
    border-radius: 5px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#your-choice {
    text-align: center;
}

#term-of-use-container {
    display: flex;
}

#modal-send-button {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--sub);
    background-color: black;
    color: var(--sub);
    font-weight: 600;
    font-size: 16px;
}

.modal-small-row {
    text-align: center;
}


@media screen and (min-width: 768px) {

    #modal-outer-container {
        height: calc(55vh - 24px);
        width: 100%;
        position: inherit;
        transform: translate(0, 0);
    }

    #modal-container {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
}