#statistics-songbox-container {
    border: 1px solid black;
    display: flex;
    font-size: 14px;
    width: 100%;
}

#songbox-detail-container {
    width: 70%;
    text-align: center;
}

#songbox-img-container {
    width: 30%;
}

#songbox-small-row-container {
    display: flex;
    justify-content: space-evenly;
}

#songbox-outer {
    display: flex;
    width: 100%;
}

#top-ten-numbers {
    width: 24px;
    font-size: 16px;
    display: flex;
    justify-content: end;
    margin-top: 4px;
    padding-left: 12px;
}