#single-request-container {
    display: flex;
    align-items: center;
    height: 70px;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 8px;
    border-radius: 8px;
}

#single-request-container:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.request-spacers {
    display: flex;
    justify-content: center;
}

#request-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: calc(75% - 70px);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#request-small-detail {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#request-img {
    transform: translateY(3px);
    height: 70px;
}

#request-drag-container {
    height: 100%;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

#request-input {
    width: 12.5%;
}

.clear {
    clear: both;
}

.checkBox {
    display: block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=checkbox]:checked+div {
    left: -10px;
    top: -10px;
}

.checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}