#single-accept-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 8px;
    border-radius: 8px;
}

#single-accept-container:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.accept-spacers {
    display: flex;
    justify-content: center;
}

#accept-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: calc(75% - 70px);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#accept-small-detail {
    display: flex;
    justify-content: space-between;
}

#accept-img {
    transform: translateY(3px);
    height: 70px;
}

#accept-drag-container {
    height: 100%;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

#accept-input {
    width: 12.5%;
}